<header class="block top-0 bg-white shadow p-1 w-full max-w-2xl mx-auto">
  <ul class="flex justify-evenly">
    <li class="hover:bg-yellow-50"><a routerLink="/">LorDecks</a></li>
    <li class="hover:bg-yellow-50"><a routerLink="archetypes">Archetypes</a></li>
  </ul>
</header>
<router-outlet></router-outlet>
<footer class="block bottom-0 bg-white shadow p-1 w-full text-xs max-w-2xl mx-auto">LorDecks isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</footer>
