<div class="flex flex-col h-full max-w-3xl mx-auto">
  <header class="flex-shrink-0 flex-grow-0 basis-auto top-0 bg-white drop-shadow-lg w-full bg-gray-200">
    <ul class="flex justify-evenly text-center">
      <li class="hover:bg-yellow-50 flex-shrink-0 flex-grow basis-auto"><a routerLink="/" class="block p-2">LorDecks</a></li>
      <li class="hover:bg-yellow-50 flex-shrink-0 flex-grow basis-auto"><a routerLink="archetypes" class="block p-2">Archetypes</a></li>
    </ul>
  </header>
  <div class="flex-shrink flex-grow basis-auto overflow-y-scroll px-2">
    <router-outlet></router-outlet>
  </div>
  <footer class="flex-shrink flex-grow-0 basis-auto bg-white shadow p-1 w-full text-xs leading-none text-gray-400">LorDecks isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</footer>
</div>
